<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753953414912-2t6pqkjv1l88drdv938s7tv0khn22hgh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753953414912-2t6pqkjv1l88drdv938s7tv0khn22hgh</string>
	<key>API_KEY</key>
	<string>AIzaSyCZpveNQ7CY_g_9ve7dsKsZuKI_MhjRoZA</string>
	<key>GCM_SENDER_ID</key>
	<string>753953414912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DApp.MyMusicApp</string>
	<key>PROJECT_ID</key>
	<string>mymusicapp-e6063</string>
	<key>STORAGE_BUCKET</key>
	<string>mymusicapp-e6063.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753953414912:ios:729fadafc724d65d3f9de5</string>
</dict>
</plist>